<div class="container">


    <h2>Experiencia Laboral</h2>

    <div class="row">
        <div class="col-2">
            <!-- Agregar en button *ngIf="isLogged" cunado tenga token para que funcione al logearse -->
            <button class="btn btn-info" routerLink="/nuevaexperiencia"   >Agregar experiencia </button>
        </div>
        <div class="col-10">

            <ul *ngFor="let Experiencia of experiencia">
                <li>
                    <h3>{{Experiencia.nombreExperiencia}}</h3>
               
                <p>{{Experiencia.descripcionExperiencia}}</p>
                <!-- Agergar *ngIf="isLogged"  cuando tenga token-->
                    <button class="btn btn-success" routerLink="/editarExperiencia/{{Experiencia.id}}"><i class="bi bi-pencil"></i>EDITAR</button>
                    <button class="btn btn-warning" (click)="delete(Experiencia.id)" ><i class="bi bi-trash"></i>BORRAR</button>
                </li>
                <!-- <li>
                    <h3>Tutor CoderHouse - (years) </h3>
                </li>
                <p>Me desempeño como tutor de Desarrollo Web pudiendo además ser tutor de cursos como Javascript y React.</p>
                <button class="btn btn-success">EDITAR</button>
                    <button class="btn btn-warning">BORRAR</button> -->
            </ul>

        </div>

    </div>

</div>