<div class="row" id="first">

    <div class="col-12" id="profile-pic" >
        <img id="picture" class="img-fluid" src="../../../assets/foto-perfil.png" alt="foto de perfil de Jose Basualdo">
    </div>
    <div class="col-12" id="about-heading">
        <h2>José Basualdo</h2>
        <p>Full Stack Web Developer trainee</p>
    </div>
    <div class="col-12 " id="about-paragraph">
        <h3>Acerca de mí</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus fugiat voluptatibus numquam quidem sed quia tenetur, nulla laudantium repudiandae quod atque temporibus, qui nam accusamus iste quos officiis alias? Possimus non aliquam, necessitatibus laborum veniam illo dolores fugit minus in sit incidunt dolore aperiam reiciendis. Nisi soluta ut illum dignissimos?</p>
    </div>

</div>
