<div class="row" id="first">

    <div class="col-12" id="profile-pic" >
        <img id="picture" class="img-fluid" src="../../../assets/foto-perfil.png" alt="foto de perfil de Jose Basualdo">
    </div>
    <div class="col-12" id="about-heading">
        <h2>José Basualdo</h2>
        <p>Full Stack Web Developer trainee</p>
    </div>
    <div class="col-12 " id="about-paragraph">
        <h3>Acerca de mí</h3>
        <p>Deseo crecer y afianzarme profesionalmente desarrollando mis
            tareas en un entorno dinámico para nutrirme y aportar mis conocimientos e ideas; formando parte de un equipo de trabajo, que me
            ofrezca la posibilidad de un desarrollo de carrera a futuro.</p>
    </div>

</div>
