<div class="container" >

    <h2>Mis proyectos</h2>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h3>Del Campe</h3>
            <a href="https://jose-ph.github.io/miel_delCampe_final_coderhouse/"> 
            <img src="https://firebasestorage.googleapis.com/v0/b/tiendabasualdorjcoderhouse.appspot.com/o/delcampe.PNG?alt=media&token=e8e96f08-7d0c-4656-bff1-4072ca1f4a0b" alt="Pagina web pyme Del campe "></a>
            <p>Sitio web estático aplicando HTML CSS y Bootstrap</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h3>Simon dice</h3>
            <a href="https://jose-ph.github.io/simon-dice-2022/">
            <img src="https://firebasestorage.googleapis.com/v0/b/tiendabasualdorjcoderhouse.appspot.com/o/simon.PNG?alt=media&token=42af0350-1db2-46b2-bb91-065881384a56 " alt="Simon dice"></a>
            <p>El clásico juego desarrollado con vanilla JS</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h3>Tienda Del Campe</h3>
            <a href="https://cocky-bose-3d69f9.netlify.app/">
            <img src="https://firebasestorage.googleapis.com/v0/b/tiendabasualdorjcoderhouse.appspot.com/o/tienndaDelCampe.PNG?alt=media&token=9fcc045c-acac-45b0-be25-6128775128d7" alt="Tienda del campe"></a>
            <p>Tienda con carrito de compras desarrollado con React</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h3>Casa de cambio</h3>
            <a href="https://exchange-demo-zeta.vercel.app/">
            <img src="https://firebasestorage.googleapis.com/v0/b/tiendabasualdorjcoderhouse.appspot.com/o/exchange.PNG?alt=media&token=ea79490b-9a7e-48e9-b1d2-5b88fefb1291" alt="casa de cambio"></a>
            <p>Casa de cambio desarrollada con vanilla JS</p>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h3>Pokedex</h3>
            <a href="https://jose-ph.github.io/pokedex-modulos/">
            <img src="https://firebasestorage.googleapis.com/v0/b/tiendabasualdorjcoderhouse.appspot.com/o/pokedex.PNG?alt=media&token=85d0e4cc-382f-4871-bc10-3bf26d85152b" alt="Pokedex"></a>
            <p>Pokedex utilizando API y aplicando Modules de JS</p>
        </div>
        
        


    </div>


</div>
