<div class="container" >

    <h2>Mis proyectos</h2>

    <div class="row">

        <div class="col-3">
            <h3>Memotest</h3>
            <img src="" alt="Memotest">
        </div>
        <div class="col-3">
            <h3>Simon dice</h3>
           
            <img src=" " alt="Simon dice">
        </div>
        <div class="col-3">
            <h3>Pokedex</h3>
            <img src="" alt="Pokedex">
        </div>

        <div class="col-3">
            <h3>Casa de cambio</h3>
            <img src="" alt="casa de cambio">
        </div>
        
        


    </div>


</div>
