<div class="container">


    <h2>Educación</h2>

    <div class="row">

        <div class="col-12">

            <ul>
                <li>
                    <h3>Ing en informática - (years)</h3>
                </li>
                <p>Universidad Nacional Arturo Jauretche</p>
                <li>
                    <h3>Carrera de desarrollo front end</h3>
                </li>
                <p>Coderhouse</p>
                <li>
                    <h3>Lic en comercio exterior</h3>
                </li>
                <p>Universidad Nacional de Quilmes</p>
            </ul>

        </div>

    </div>

</div>