<div class="container">


    <h2>Educación</h2>

    <div class="row">
        <div class="col-2">
            <!-- Agregar en button *ngIf="isLogged" cunado tenga token para que funcione al logearse -->
            <button class="btn btn-info" routerLink="/nuevaeducacion"  *ngIf="isLogged"  >Agregar educación </button>
        </div>
        <div class="col-10">

            <ul *ngFor="let Educacion of educacion">
                <li>
                    <h3>{{Educacion.nombreEducacion}}</h3>
               
                <p>{{Educacion.descripcionEducacion}}</p>
                <!-- Agergar *ngIf="isLogged"  cuando tenga token-->
                    <button  *ngIf="isLogged" class="btn btn-success" routerLink="/editarEducacion/{{Educacion.id}}"><i class="bi bi-pencil"></i>EDITAR</button>
                    <button  *ngIf="isLogged" class="btn btn-warning" (click)="delete(Educacion.id)" ><i class="bi bi-trash"></i>BORRAR</button>
                </li>
                <!-- <li>
                    <h3>Tutor CoderHouse - (years) </h3>
                </li>
                <p>Me desempeño como tutor de Desarrollo Web pudiendo además ser tutor de cursos como Javascript y React.</p>
                <button class="btn btn-success">EDITAR</button>
                    <button class="btn btn-warning">BORRAR</button> -->
            </ul>

        </div>

    </div>

</div>