
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img   src="../../../assets/logoArgProg.png" alt="logo de argentina programa"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://github.com/Jose-ph">  <img src="../../../assets/github.png" alt="github logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/jose-basualdo-developer/">  <img src="../../../assets/linkedin.png" alt="linkedin logo">
            </a>
          </li>
         
          <li class="nav-item btn btn-warning">
            <a href="/login" class="nav-link ">Ingresar</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>